@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@theme {
  --font-roboto: "Bebas Neue", sans-serif; 
}

#root {
  max-width: 100vw;
  /* margin: 0 auto;
  padding: 0; */
  text-align: center;
}


