@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #02020f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* animations  */
@import "tailwindcss";

@font-face {
  font-family: "knewave";
  src: url('./assets/font/Knewave-Regular.ttf');
}
@font-face {
  font-family: BBH;
  src: url(/font/BBHBartle-Regular.ttf);
}
@font-face {
  font-family: alluser;
  src: url(/font/Hanuman-VariableFont_wght.ttf);
}
@theme {
  --font-knews: "knewave" , sans-serif;
  --font-BBH: "BBH" , "sans-serif";
  --font-alluser: "alluser" , "sans-serif"
}





/* Gradient Border Wrapper */
.gradient-border {
  padding: 3px; /* border thickness */
  background: linear-gradient(
    135deg,
    green,
    green,
    yellow,
    yellow,
    #FF1493,
    purple,
    purple,
    red,
    red
  );
  border-radius: 12px; /* optional */
}

/* Inner Box */
.gradient-border .inner-box {
  background: #000;
  color: white;
  padding: 20px;
  border-radius: 10px; /* match wrapper radius */
}






@keyframes border-slide {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.animate-border-slide {
  animation: border-slide 16s linear infinite; /* slower & smoother */
  border-radius: 9999px; /* smooth rounded line */
  box-shadow:
    0 0 1px rgb(66,133,244),
    0 0 1px rgb(138,43,226),
    0 0 1px rgb(219,68,133),
    0 0 1px rgb(66,133,244,0.6),
    0 0 1px rgb(138,43,226,0.6),
    0 0 1px rgb(219,68,133,0.6);/* subtle glow shadow */
}
.bg{
   color:  rgba(113, 174, 245, 0.6)
}



/* Spinning Animation */
@keyframes Gemeni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Utility class for applying the spin */
.Gemeni {
  animation: spin 6s linear infinite; /* slow spin */
}

.ping-slow  {
  animation: pink-down 8s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

/* custom keyframes and utility classes */
@keyframes slideDown {
  0% { transform: translateY(-40px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-40px); opacity: 0; }
}

@keyframes pink-down {
  0%{ opacity: 0}
  50%{ opacity: 1}
  100%{opacity: 2;}
}

/* small utilities that mimic Tailwind animate-... */
.animate-slideDown {
  animation: slideDown .3s ease-out;
}

.animate-slideUp {
  animation: slideUp .3s ease-in;
}


